<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mantenimineto.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mantenimineto.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Mantenimineto.My.MySettings.mantenimientoConnectionString"
            connectionString="Data Source=MATRIX\SQLSERVER12;Initial Catalog=mantenimiento;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Mantenimineto.My.MySettings.clinicaConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\server1\datos\clinica.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Mantenimineto.My.MySettings>
            <setting name="recordar_contraseña" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pw" serializeAs="String">
                <value />
            </setting>
            <setting name="cadena" serializeAs="String">
                <value>Data Source=CBESERVER\SQLEXPRESS;Initial Catalog=mantenimiento;User ID=sa;Password=Integral2016</value>
            </setting>
            <setting name="cadena_local" serializeAs="String">
                <value>Data Source=MATRIX\SQLSERVER12;Initial Catalog=mantenimiento;Integrated Security=True</value>
            </setting>
            <setting name="cadena_on_line" serializeAs="String">
                <value>Data Source=CBESERVER\SQLEXPRESS;Initial Catalog=mantenimiento;User ID=sa;Password=Integral2016</value>
            </setting>
            <setting name="imprimir_directo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dbcadena" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\server1\datos\clinica.mdb</value>
            </setting>
            <setting name="dbcadena_local" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\perez\Datos\Clinica\clinica.mdb</value>
            </setting>
            <setting name="aviso" serializeAs="String">
                <value />
            </setting>
        </Mantenimineto.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Mantenimineto.My.MySettings>
            <setting name="sys_aviso" serializeAs="String">
                <value />
            </setting>
        </Mantenimineto.My.MySettings>
    </applicationSettings>
</configuration>
